html {
  line-height: 1.4;
}

body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;

  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body,
app-root {
  height: 100%;
  min-height: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: #039be5;
  text-decoration: none;
}

table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
th {
  font-weight: 600;
  font-size: 0.8rem;
}
.mat-header-row {
  background-color: #e8eaf6 !important;
}
.mat-header-cell {
  color: #1a237e !important;
}
.from-save {
  mat-form-field {
    width: 90%;
  }
  ::ng-deep .mat-grid-tile-content {
    top: 6px !important;
  }
  mat-label {
    font-weight: 800;
  }
}

.disTouch{
  pointer-events: none
}