table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
th {
  font-weight: 600;
  font-size: 0.8rem;
}
.icon-size {
  font-size: 20px;
}
.title-right {
  position: absolute;
  right: 2px;
}
.width-Operate {
  width: 130px;
}

.container {
  padding: 20px;
  ::ng-deep .mat-card-header-text {
    /* CSS styles go here */
    margin: 0px; // for example to remove the margin
  }
  .card-bottom {
    text-align: end;
  }
  .mat-card-header {
    justify-content: space-between !important;
    .title {
      font-size: 20px;
      font-weight: 500;
      margin-left: 0px !important;
    }
  }
  .filter,
  .mat-card-header {
    display: flex;
    justify-items: start;
  }
  .mat-form-field.mat-form-field {
    font-size: 0.6rem;
  }
  .ctx-left {
    position: absolute;
    left: 0;
    top: 5px;
  }
  table {
    width: 100%;
    th {
      font-weight: 600;
      font-size: 0.8rem;
    }
  }
}
tr.example-detail-row {
  height: 0;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}
tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
.example-element-row td {
  border-bottom-width: 0;
}
.example-element-detail {
  overflow: hidden;
  // display: flex;
  background-color: #F5F5F5;
  padding: 0 24px;
}
.mat-column-expandedDetail {
  padding: 0px !important;
}
.example-element-description-attribution {
  opacity: 0.5;
}
.mat-header-row {
  background-color: #e8eaf6;
}
.mat-header-cell {
  color: #1a237e;
}
.from-save{
  mat-form-field{
    width: 90%;
  }
  ::ng-deep .mat-grid-tile-content{
    top: 6px !important;;
  }
  mat-label{
    font-weight: 800;
  }
}
